Repository michelletran-codecov/tester, changes with the owners that .github/CODEOWNERS names for each.
All owners: @michelletran-codecov, @codecov:component:funccomp, @codecov:component:testcomp

.github/CODEOWNERS:

func.py @michelletran-codecov
func.py @codecov:component:funccomp
test_sample.py @codecov:component:testcomp
test_sample.py @michelletran-codecov

Add test
  test_sample.py
Owners: @michelletran-codecov

Update .codecov.yml
  .codecov.yml
Owners: none

Update func.py
  func.py
Owners: @codecov:component:funccomp

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Add Sentry release script
  .github/workflows/release.yaml
Owners: none

Add pydantic
  func.py
  play_with_pydantic.py
Owners: @codecov:component:funccomp

Remove a function
  func.py
Owners: @codecov:component:funccomp

Add some functions
  func.py
Owners: @codecov:component:funccomp

Super fabulous change!
  func.py
Owners: @codecov:component:funccomp

Wow! Super! Exciting!
  func.py
Owners: @codecov:component:funccomp

Fix spelling
  .github/workflows/release.yaml
Owners: none

Update .codecov.yml
  .codecov.yml
Owners: none

Fix spelling
  .github/workflows/release.yaml
Owners: none

Add some flags to this
  .codecov.yml
  create_flags.py
Owners: none

Add some flags to this
  .codecov.yml
  create_flags.py
Owners: none

Fix format of codecov.yaml
  .codecov.yml
Owners: none

Update the flags to see if it can work without paths
  .codecov.yml
Owners: none

Add step to echo 'Hello World' in CI workflow
  .github/workflows/ci.yml
Owners: none

Add step to execute echo command in CI workflow
  .github/workflows/ci.yml
Owners: none
